.contact {
  height: 100vh;
  background: rgb(153, 157, 161);
  padding: 10vh;
  text-align: center;

  .contactText {
    padding: 25px 0;
    line-height: 50px;
    margin: 100px;

    p {
      font-size: 25px;
    }

    #emailText {
      font-size: 45px;
    }

    img {
      width: 75px;
      height: 75px;
      margin: 10px;
    }
  }
}
