.hero {
  height: 100vh;
  background: rgb(57, 115, 221);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
  color: #fff;

  h1 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.25);
    padding: 2rem;
    border-radius: 20px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
    }
    &::before {
      left: 0;
      border-bottom: 6px double #000;
    }
    &::after {
      right: 0;
      border-top: 6px double #000;
    }
  }
}
