.skills {
  height: 100vh;
  background: rgb(49, 49, 49);
  color: #fff;
  text-align: center;
  padding: 10vh;
  position: relative;

  h1 {
    padding-top: 10vh;
    font-size: 3rem;
    text-align: left;
  }
}
